.heading{
    font-size: 25px;
    margin: 0;
    width: 100%;
    box-shadow: 5px 5px 5px gray;
}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 3;
    text-align: center;
    background-color: gray;
    color: white;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}